/node_modules
/build
.env
.npm
.eslintcache
.DS_Store
/dist
.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
vite.config.*.timestamp*
vitest.config.*.timestamp*