.nav-link-shine {
  transition: transform 0.1s ease;
}

.nav-link-shine:hover {
  transform: scale(1.05);
}

.nav-link-shine:active {
  transform: scale(0.95);
}

.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}
