.nav-link-shine {
  transition: transform 0.1s ease-in-out;
}

.nav-link-shine:hover {
  transform: scale(1.05);
}

.nav-link-shine:active {
  transform: scale(0.95);
}

.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.457);
}

.text-glow {
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out,
    transform 0.8s ease-in-out;
}

.text-glow:hover {
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
